/* CSS Document */

body{
	border-top: 7px solid #bfbfbf;
	border-bottom: 35px solid #bfbfbf;
	padding-top: 15px;
	font-size: 100%;
	line-height: 1.5;
	color: #222;
	font-family: "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
	font-weight: normal;
}


#header > .container-fluid,
#nav > .container-fluid,
#main > .container-fluid,
#footer > .container-fluid {
	max-width: 90%;
	margin: 0 auto;
}

#header {
	background-color: #FFF;
}

#header > .container-fluid {
	background-color: #FFF;
	padding: 15px 0px;
	width: 100%;
}

#featured .form-on-img {
    position: absolute; 
    bottom: 150px; 
    left: 10%;
    background: rgba(255, 255, 255, 0.25);
    padding: 25px;
    border-radius: 7px;
}

#featured .form-on-img .input-long {
    width: 320px;
    padding: 7px;
}

#featured .form-on-img .input-medium {
    padding: 7px;
}

#featured .form-on-img .btn-long {
    width: 330px;
    height: 35px;
    padding:7px;
}


#featured .item-inner {
    height: 590px;
    display: block;
    width: 100%; 
    position: relative; 
    background-color: rgba(0,0,0,.1);
}

#featured #this-carousel-id {
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    line-height: 25px !important;
}


#main > .container-fluid {
	background-color: #fff;
	padding: 0 0 15px;
}



.padd-left10 {
	padding-left: 10px;
}

ul.nav li {
	float: left;
	padding-right: 25px;
}

ul.nav li a{
	color: #222;
}

ul.nav li a:hover{
	background:none;
	color:#039;
}

li.last{
	float:right;
}


menulevel-sign-in{
	float: right;
	line-height: 2.5em;
	display: inline;
}


.separator {
margin: 0 auto;
border-right: 1px solid #d8d8d8;
border-right: 1px solid rgba(0,0,0,0.1);
position: relative;
height: 46px;
font-size: 22px;
line-height: 36px;
box-shadow: 0 1px 0 #fff;
}

p {
margin:0;}

div.container-fluid div.span8 {
    margin-top: -7px;
}

form.form-search {
    display: block;
}

div.input-append.pull-right {
    margin-top: 30px;
}

div.input-append.pull-right input{
    border-right: none;
    box-shadow: none;
    border-radius: 0px;
    width: 350px;
}

div.input-append.pull-right button.btn {
    background: none;
    border-left: none;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

i#searchbtn.icon-search {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav#nav {
    display: block;
}

div.navbar-inner.container-fluid {
    background: none;
    border: none;
    box-shadow:none; 
    margin-top:10px;
}

ul.nav.span12 {
    margin-top:-22px;
}

a.carousel-control {
 line-height: 35px;
font-size: 75px;
width: 55px;
height: 55px;
border-radius: 55px;
}


div#content_container.row-fluid {
    width: 100%;
    margin: 0 auto;
    line-height: 3;
    padding-bottom: 50px;
}

.span4.content {
    border-top: 6px solid black;
    text-align: center;
}

div#img_container.span4 {
    border-top: none;
}

#footer ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

    #footer ul li {
        float: left;
    }

        #footer ul li a {
            padding: 10px;
        }