/* CSS Document */

body{
	border-top: 7px solid #bfbfbf;
	border-bottom: 35px solid #bfbfbf;
	padding-top: 15px;
	font-size: 100%;
	line-height: 1.5;
	color: #222;
	font-family: "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
	font-weight: normal;
}


#header > .container-fluid,
#nav > .container-fluid,
#main > .container-fluid,
#footer > .container-fluid {
	max-width: 90%;
	margin: 0 auto;
}

#header {
	background-color: #FFF;
}

#header > .container-fluid {
	background-color: #FFF;
	padding: 15px 0px;
	width: 100%;
}

#featured #form-on-img {
    position: absolute; 
    bottom: 80px; 
    left: 10%;
}

#featured #form-on-img .input-long {
    width: 320px;
}

#featured #form-on-img .btn-long {
    width: 330px;
    height: 35px;
}


#featured .item-inner {
    height: 590px;
    display: block;
    width: 100%; 
    position: relative; 
    background-color: rgba(0,0,0,.1);
}

#featured #this-carousel-id {
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    line-height: 25px !important;
}


#main > .container-fluid {
	background-color: #fff;
	padding: 15px 0;
}



.padd-left10 {
	padding-left: 10px;
}

ul.nav li {
	float: left;
	padding-right: 25px;
}

ul.nav li a{
	color: #222;
}

ul.nav li a:hover{
	background:none;
	color:#039;
}

li.last{
	float:right;
}


menulevel-sign-in{
	float: right;
	line-height: 2.5em;
	display: inline;
}


.separator {
margin: 0 auto;
border-right: 1px solid #d8d8d8;
border-right: 1px solid rgba(0,0,0,0.1);
position: relative;
height: 46px;
font-size: 22px;
line-height: 36px;
box-shadow: 0 1px 0 #fff;
}